{% extends "base.html" %}

{% block title %}Index{% endblock %}


{% block page_content %}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Economic Forest</h1>
            <p class="lead text-muted">The economic forest are the forest trees with the main purpose of producing
                fruit,
                edible oil, industrial raw materials and medicinal materials.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Plants information</a>
                <a href="#" class="btn btn-info my-2">Orders information</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4 bg-light">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="https://itaomiao-img.aitaomiao.com/img/nursery/2018/05/05/08/15254819081454BTA.jpg">
                        <div class="card-body">
                            <p class="card-text">6.0厘米和顺价格，自然高400.0公分和顺价格，冠幅180.0公分湛江市和顺价格</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-light">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="https://itaomiao-img.aitaomiao.com/img/nursery/2018/05/05/08/15254819081454BTA.jpg">
                        <div class="card-body">
                            <p class="card-text">6.0厘米和顺价格，自然高400.0公分和顺价格，冠幅180.0公分湛江市和顺价格</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-light">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="https://itaomiao-img.aitaomiao.com/img/nursery/2018/05/05/08/15254819081454BTA.jpg">
                        <div class="card-body">
                            <p class="card-text">6.0厘米和顺价格，自然高400.0公分和顺价格，冠幅180.0公分湛江市和顺价格</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-light">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="https://itaomiao-img.aitaomiao.com/img/nursery/2018/05/05/08/15254819081454BTA.jpg">
                        <div class="card-body">
                            <p class="card-text">6.0厘米和顺价格，自然高400.0公分和顺价格，冠幅180.0公分湛江市和顺价格</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-light">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="https://itaomiao-img.aitaomiao.com/img/nursery/2018/05/05/08/15254819081454BTA.jpg">
                        <div class="card-body">
                            <p class="card-text">6.0厘米和顺价格，自然高400.0公分和顺价格，冠幅180.0公分湛江市和顺价格</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-light">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="https://itaomiao-img.aitaomiao.com/img/nursery/2018/05/05/08/15254819081454BTA.jpg">
                        <div class="card-body">
                            <p class="card-text">6.0厘米和顺价格，自然高400.0公分和顺价格，冠幅180.0公分湛江市和顺价格</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-light">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="https://itaomiao-img.aitaomiao.com/img/nursery/2018/05/05/08/15254819081454BTA.jpg">
                        <div class="card-body">
                            <p class="card-text">6.0厘米和顺价格，自然高400.0公分和顺价格，冠幅180.0公分湛江市和顺价格</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-light">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="https://itaomiao-img.aitaomiao.com/img/nursery/2018/05/05/08/15254819081454BTA.jpg">
                        <div class="card-body">
                            <p class="card-text">6.0厘米和顺价格，自然高400.0公分和顺价格，冠幅180.0公分湛江市和顺价格</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-light">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="https://itaomiao-img.aitaomiao.com/img/nursery/2018/05/05/08/15254819081454BTA.jpg">
                        <div class="card-body">
                            <p class="card-text">6.0厘米和顺价格，自然高400.0公分和顺价格，冠幅180.0公分湛江市和顺价格</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>　
{% endblock %}
