
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 bg-light">
                <div class="card mb-4 shadow-sm border-primary">
                    <div class="card-header">ID: 4883</div>
                    <div class="card-body">
                        <h5 class="card-title">山东省滨州北海经济开发区水系贯通及综合生态治理PPP项目采购单</h5>
                        <h6 class="card-subtitle mb-2 text-muted">深圳市铁汉生态环境股份有限公司</h6>
                        <p class="card-text">采购品种：.白蜡A,.白蜡B,.白蜡C,.白蜡D,.榆树A,榆树B,榆树C,榆树D,刺槐,刺槐A,刺槐C,.刺槐B,.馒头柳A,.馒头柳B,.馒头柳C,.垂柳A,.垂柳B,杜梨B,杜梨C</p>
                        <a href="#" class="btn btn-success">View</a>
                    </div>
                    <div class="card-footer bg-transparent border-success">山东省滨州市无棣县</div>
                </div>
            </div>
            <div class="col-md-4 bg-light">
                <div class="card mb-4 shadow-sm border-primary">
                    <div class="card-header">ID: 4883</div>
                    <div class="card-body">
                        <h5 class="card-title">山东省滨州北海经济开发区水系贯通及综合生态治理PPP项目采购单</h5>
                        <h6 class="card-subtitle mb-2 text-muted">深圳市铁汉生态环境股份有限公司</h6>
                        <p class="card-text">采购品种：.白蜡A,.白蜡B,.白蜡C,.白蜡D,.榆树A,榆树B,榆树C,榆树D,刺槐,刺槐A,刺槐C,.刺槐B,.馒头柳A,.馒头柳B,.馒头柳C,.垂柳A,.垂柳B,杜梨B,杜梨C</p>
                        <a href="#" class="btn btn-success">View</a>
                    </div>
                    <div class="card-footer bg-transparent border-success">山东省滨州市无棣县</div>
                </div>
            </div>
            <div class="col-md-4 bg-light">
                <div class="card mb-4 shadow-sm border-primary">
                    <div class="card-header">ID: 4883</div>
                    <div class="card-body">
                        <h5 class="card-title">山东省滨州北海经济开发区水系贯通及综合生态治理PPP项目采购单</h5>
                        <h6 class="card-subtitle mb-2 text-muted">深圳市铁汉生态环境股份有限公司</h6>
                        <p class="card-text">采购品种：.白蜡A,.白蜡B,.白蜡C,.白蜡D,.榆树A,榆树B,榆树C,榆树D,刺槐,刺槐A,刺槐C,.刺槐B,.馒头柳A,.馒头柳B,.馒头柳C,.垂柳A,.垂柳B,杜梨B,杜梨C</p>
                        <a href="#" class="btn btn-success">View</a>
                    </div>
                    <div class="card-footer bg-transparent border-success">山东省滨州市无棣县</div>
                </div>
            </div>
            <div class="col-md-4 bg-light">
                <div class="card mb-4 shadow-sm border-primary">
                    <div class="card-header">ID: 4883</div>
                    <div class="card-body">
                        <h5 class="card-title">山东省滨州北海经济开发区水系贯通及综合生态治理PPP项目采购单</h5>
                        <h6 class="card-subtitle mb-2 text-muted">深圳市铁汉生态环境股份有限公司</h6>
                        <p class="card-text">采购品种：.白蜡A,.白蜡B,.白蜡C,.白蜡D,.榆树A,榆树B,榆树C,榆树D,刺槐,刺槐A,刺槐C,.刺槐B,.馒头柳A,.馒头柳B,.馒头柳C,.垂柳A,.垂柳B,杜梨B,杜梨C</p>
                        <a href="#" class="btn btn-success">View</a>
                    </div>
                    <div class="card-footer bg-transparent border-success">山东省滨州市无棣县</div>
                </div>
            </div>
            <div class="col-md-4 bg-light">
                <div class="card mb-4 shadow-sm border-primary">
                    <div class="card-header">ID: 4883</div>
                    <div class="card-body">
                        <h5 class="card-title">山东省滨州北海经济开发区水系贯通及综合生态治理PPP项目采购单</h5>
                        <h6 class="card-subtitle mb-2 text-muted">深圳市铁汉生态环境股份有限公司</h6>
                        <p class="card-text">采购品种：.白蜡A,.白蜡B,.白蜡C,.白蜡D,.榆树A,榆树B,榆树C,榆树D,刺槐,刺槐A,刺槐C,.刺槐B,.馒头柳A,.馒头柳B,.馒头柳C,.垂柳A,.垂柳B,杜梨B,杜梨C</p>
                        <a href="#" class="btn btn-success">View</a>
                    </div>
                    <div class="card-footer bg-transparent border-success">山东省滨州市无棣县</div>
                </div>
            </div>
            <div class="col-md-4 bg-light">
                <div class="card mb-4 shadow-sm border-primary">
                    <div class="card-header">ID: 4883</div>
                    <div class="card-body">
                        <h5 class="card-title">山东省滨州北海经济开发区水系贯通及综合生态治理PPP项目采购单</h5>
                        <h6 class="card-subtitle mb-2 text-muted">深圳市铁汉生态环境股份有限公司</h6>
                        <p class="card-text">采购品种：.白蜡A,.白蜡B,.白蜡C,.白蜡D,.榆树A,榆树B,榆树C,榆树D,刺槐,刺槐A,刺槐C,.刺槐B,.馒头柳A,.馒头柳B,.馒头柳C,.垂柳A,.垂柳B,杜梨B,杜梨C</p>
                        <a href="#" class="btn btn-success">View</a>
                    </div>
                    <div class="card-footer bg-transparent border-success">山东省滨州市无棣县</div>
                </div>
            </div>
            <div class="col-md-4 bg-light">
                <div class="card mb-4 shadow-sm border-primary">
                    <div class="card-header">ID: 4883</div>
                    <div class="card-body">
                        <h5 class="card-title">山东省滨州北海经济开发区水系贯通及综合生态治理PPP项目采购单</h5>
                        <h6 class="card-subtitle mb-2 text-muted">深圳市铁汉生态环境股份有限公司</h6>
                        <p class="card-text">采购品种：.白蜡A,.白蜡B,.白蜡C,.白蜡D,.榆树A,榆树B,榆树C,榆树D,刺槐,刺槐A,刺槐C,.刺槐B,.馒头柳A,.馒头柳B,.馒头柳C,.垂柳A,.垂柳B,杜梨B,杜梨C</p>
                        <a href="#" class="btn btn-success">View</a>
                    </div>
                    <div class="card-footer bg-transparent border-success">山东省滨州市无棣县</div>
                </div>
            </div>
            <div class="col-md-4 bg-light">
                <div class="card mb-4 shadow-sm border-primary">
                    <div class="card-header">ID: 4883</div>
                    <div class="card-body">
                        <h5 class="card-title">山东省滨州北海经济开发区水系贯通及综合生态治理PPP项目采购单</h5>
                        <h6 class="card-subtitle mb-2 text-muted">深圳市铁汉生态环境股份有限公司</h6>
                        <p class="card-text">采购品种：.白蜡A,.白蜡B,.白蜡C,.白蜡D,.榆树A,榆树B,榆树C,榆树D,刺槐,刺槐A,刺槐C,.刺槐B,.馒头柳A,.馒头柳B,.馒头柳C,.垂柳A,.垂柳B,杜梨B,杜梨C</p>
                        <a href="#" class="btn btn-success">View</a>
                    </div>
                    <div class="card-footer bg-transparent border-success">山东省滨州市无棣县</div>
                </div>
            </div>
            <div class="col-md-4 bg-light">
                <div class="card mb-4 shadow-sm border-primary">
                    <div class="card-header">ID: 4883</div>
                    <div class="card-body">
                        <h5 class="card-title">山东省滨州北海经济开发区水系贯通及综合生态治理PPP项目采购单</h5>
                        <h6 class="card-subtitle mb-2 text-muted">深圳市铁汉生态环境股份有限公司</h6>
                        <p class="card-text">采购品种：.白蜡A,.白蜡B,.白蜡C,.白蜡D,.榆树A,榆树B,榆树C,榆树D,刺槐,刺槐A,刺槐C,.刺槐B,.馒头柳A,.馒头柳B,.馒头柳C,.垂柳A,.垂柳B,杜梨B,杜梨C</p>
                        <a href="#" class="btn btn-success">View</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center row">
                        <p class="card-text badge badge-light">地址：山东省滨州市无棣县</p></div>
                        <small class="text-muted">2018-12-04</small>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
