<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for order in orders %}
            {% if loop.index is odd %}
            <div style="width:18rem; height:10rem" class="col-md-4 bg-light" >
                <div class="card mb-4 shadow-sm {% if order['stop_time'] is gt current_time %}
            {{ 'border-danger' }}
            {% endif %} border-primary">
                    <div class="card-header">ID: {{ order['purchase_id'] }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ order['name'] }}</h5>
                        <h7 class="card-subtitle mb-2 text-muted">{{ order['company'] }}</h7>
                        <pre class="card-text text-success">采购品种： {{ order['kinds'] }}</pre>
                        <a href="#" class="btn btn-info">View</a>
                    </div>
                    <div class="card-footer text-secondary">报价截止日期： {{ order['stop_time'] }}</div>
                </div>
            </div>
            {% else %}
            <div class="col-md-4 bg-light">
                <div class="card mb-4 shadow-sm {% if order['stop_time'] is gt current_time %}
            {{ 'border-danger' }}
            {% endif %}border-primary">
                    <div class="card-header">ID: {{ order['purchase_id'] }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ order['name'] }}</h5>
                        <h7 class="card-subtitle mb-2 text-muted">{{ order['company'] }}</h7>
                        <pre class="card-text text-info">采购品种： {{ order['kinds'] }}</pre>
                        <a href="#" class="btn btn-success">View</a>
                    </div>
                    <div class="card-footer text-secondary">报价截止日期： {{ order['stop_time'] }}</div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>
<div class="container">
    {{ macros.pagination_widget(pagination, 'main.purchase') }}
</div>